<div class="container">
    <div class="row mt-5 text-center">
        <div class="col-12 m-1">
            <div class="card">
                <h5 class="card-header">Quienes Somos</h5>
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea corporis enim nam perspiciatis harum architecto ullam eveniet id. Quasi ratione veniam molestiae vero maiores consequuntur voluptatibus id sint minus voluptatem.</p>
                </div>
            </div>
        </div>
        <div class="col-5 m-1">
            <div class="card">
                <h5 class="card-header">Mision</h5>
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis reprehenderit dolores quos, iusto, quo animi, quas aperiam quod omnis magni atque. Corporis odit quisquam sed repellendus, consequuntur expedita ducimus ut!</p>
                </div>
            </div>
        </div>
        <div class="col-5 m-1">
            <div class="card">
                <h5 class="card-header">Vision</h5>
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit ut corporis repellendus assumenda enim atque excepturi, accusantium minima incidunt deleniti voluptas, in autem numquam. Ratione dolor quam aliquam iste quas!</p>
                </div>
            </div>
        </div>
        
    </div>
</div>